<body>

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">market place</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>market place</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Category -->
    <section class="category-page section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-sidebar">
                        <!-- Start Single Widget -->
                        <div class="single-widget search">
                            <h3>Search by Name</h3>
                                <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                             [(ngModel)]="searchTerm" type="search" placeholder="Search Here...">
                        </div>
                    </div>
                </div>













                <div class="col-lg-9 col-md-8 col-12">
                    <div class="category-grid-list">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="nav-tabContent" >
                                    <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                        aria-labelledby="nav-grid-tab">
                                        <div class="row" >
                                            <div class="col-lg-4 col-md-6 col-12"  *ngFor="let a of filteredProducts   | paginate :{itemsPerPage:6,currentPage:p}" >
                                                <!-- Start Single Item -->
                                                <div class="single-item-grid" >
                                                    <div class="image">
                                                        <img [src]="a.imageModels[0].url" alt="#" class="product-image image-size" (click)="goToProduct(a.idProduct)">

                                                    </div>
                                                    <div class="content" >
                                                        <p   class="tag">{{a.name}}</p>
                                                        <h3 class="title">
                                                            <p href="item-details.html">{{a.brand}}</p>
                                                        </h3>
                                                        <p class="location"><a href="javascript:void(0)"><i class="lni lni-map-marker">
                                                                </i>{{a.adresse}}</a></p>
                                                        <ul class="info" >
                                                            <ul class="product-info">
                                                                <li class="price">{{ a.price }} dt</li>
                                                                <li class="discount">
                                                                  - {{ calculateDiscount(a.price) }} dt
                                                                </li>
                                                              </ul>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>


                                    <div class="row justify-content-center mt-3">
                                        <pagination-controls class="pagination" (pageChange)="p=$event"></pagination-controls>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>














    <!-- Start Footer Area -->
    <footer class="footer">

        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <ul class="footer-bottom-links">
                                    <li><a href="javascript:void(0)">Terms of use</a></li>
                                    <li><a href="javascript:void(0)"> Privacy Policy</a></li>
                                    <li><a href="javascript:void(0)">Advanced Search</a></li>
                                    <li><a href="javascript:void(0)">Site Map</a></li>
                                    <li><a href="javascript:void(0)">Information</a></li>
                                </ul>
                                <p class="copyright-text">Designed and Developed by <a href="https://graygrids.com/"
                                        rel="nofollow" target="_blank">GrayGrids</a>
                                </p>
                                <ul class="footer-social">
                                    <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

